@font-face {
  font-family: 'NutinoRegular';
  src: url(./fonts/NunitoSans_10pt-Regular.ttf);
  font-weight: 400px;
}

@font-face {
  font-family: 'NutinoMedium';
  src: url(./fonts/NunitoSans_10pt-Medium.ttf);
  font-weight: 500px;
}

@font-face {
  font-family: 'NutinoSemiBold';
  src: url(./fonts/NunitoSans_10pt-SemiBold.ttf);
  font-weight: 600px;
}

@font-face {
  font-family: 'NutinoBold';
  src: url(./fonts/NunitoSans_10pt-Bold.ttf);
  font-weight: 700px;
}

@font-face {
  font-family: 'NutinoExtraBold';
  src: url(./fonts/NunitoSans_10pt-ExtraBold.ttf);
  font-weight: 800px;
}

@font-face {
  font-family: 'AlbertSansMedium';
  src: url(./fonts/AlbertSans-Medium.ttf);
  font-weight: 500px;
}

@font-face {
  font-family: 'AlbertSansSemiBold';
  src: url(./fonts/AlbertSans-SemiBold.ttf);
  font-weight: 600px;
}

@font-face {
  font-family: 'AlbertSansExtraBold';
  src: url(./fonts/AlbertSans-ExtraBold.ttf);
  font-weight: 800px;
}

@font-face {
  font-family: 'Niconne';
  src: url(./fonts/Niconne-Regular.ttf);
  font-weight: 400px;
}
