$color-highlight: #e4229c;
$color-highlight-opacity: #e4229c20;
$color-input-text-focus: #492752;
$color-background: #1f002b;
$color-input: #36173d;
$color-text-main: #ffffff;
$color-text-secondary: #c4c8cc;
$color-text-secondary-opacity: #c4c8cc50;
$color-error: rgb(200, 24, 24);
